<div class="container">
<div class="d-flex flex-column justify-content-center align-items-center text-center col-12">
  <h1> # Mentions légales #</h1>
    <br><br>
      <h4 class="text-secondary">| Editeur |</h4>
        <br>
          <p><em class="text-info">Match & Feat est une association dont le siège social est situé au : 13, rue Hary 13000 Marseille – France.</em><p>
          <p><em class="text-info">Vous pouvez joindre Match & Feat par email : matchandfeathp@gmail.com</em></p>
          <p><em class="text-info">Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l"Utilisateur", du site https://matchandfeathp.herokuapp.com/ , ci-après le "Site",
les présentes mentions légales.</em><p>
        <br>
      <h4 class="text-secondary">| Conditions Générales d’Utilisation |</h4>
        <br>
          <p><em class="text-info">Les présentes Conditions Générales d’Utilisation (les « CGU») fournissent des informations sur le Site et régissent votre utilisation du Site. En accédant, en utilisant, ou en créant un compte client sur le Site, vous acceptez les CGU, qui constituent un accord entre vous et Match & Feat.</em><p>
        <br>
      <h4 class="text-secondary">| Propriété Intellectuelle |</h4>
        <br>
          <p><em class="text-info">Toute reproduction, représentation, publication, transmission, totale ou partielle, ou plus généralement toute exploitation non autorisée du Site et/ou de éléments mis en ligne sur le Site est interdite et engage votre responsabilité.</em><p>
        <br>
      <h4 class="text-secondary">| Technique |</h4>
        <br>
          <p><em class="text-info">Nous faisons nos meilleurs efforts pour mettre à votre disposition un Site sûr et exempt d’erreur. Toutefois, nous ne pouvons pas garantir que le Site fonctionnera toujours sans interruption, retard, ou imperfection.</em></p>
          <p><em class="text-info">En effet, le fonctionnement du Site peut être affecté par des évènements et/ou des éléments que nous ne contrôlons pas, tels que les moyens de transmission que vous utilisez, le réseau Internet ou encore des opérations de maintenances, d’amélioration ou de modification du Site effectuées par nous ou par l’un de nos fournisseurs.</em></p>
          <p><em class="text-info">Nous déclinons toute responsabilité en cas d’indisponibilité ou de dysfonctionnement du Site.</em></p>
        <br>
      <h4 class="text-secondary">| Suppression de contenu et désactivation ou résiliation de votre compte |</h4>
        <br>
          <p><em class="text-info">Vous pouvez à tout moment supprimer votre compte de façon permanente dans la rubrique « Mon Profil » puis « Modifier mes identifiants de connexion ».</p></em>
      <h4 class="text-secondary"> | Différents | </h4>
        <br>
          <p><em class="text-info">Le Site, son utilisation et les CGU sont soumis au droit français et tout différent relatif à l’utilisation du Site sera porté devant les juridictions françaises compétentes.</em></p>
        <br>    
      <h4 class="text-secondary"> | Liens externes | </h4>
        <br>
          <p><em class="text-info">Le Site peut contenir des liens vers d’autres sites que nous n’exploitons pas. Nous ne pouvons pas être tenus responsables du contenu des sites, publicités, produits ou services, ou de tout autre matériel disponible sur ou à partir de ces sites ou sources externes.</em></p>
        <br>
      <h4 class="text-secondary"> | Mise à jour des présentes CGU | </h4>
        <br>
          <p><em class="text-info">Nous pouvons modifier notre Site, et il est possible que nous devions apporter des modifications aux CGU. Les CGU en vigueur sont celles disponibles sur le Site.</em></p>
        <br>
</div>
</div>