<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Un signalement vient d'être créer.
    </p>
    <p>
      Voici le rapport de signalement :
    </p>
    <p>
      <%= puts report here %>
    </p>
  </body>
</html>