<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Ton projet : " <%= @project.title %> " à bien été créé.
    </p>
    <p>
      Pour y accéder c'est <%= link_to "par ici", @url %>
    </p>
    <p> À très vite sur Match & Feat !</p>
  </body>
</html>