<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Ton projet : " <%= Project.last.title %> " à bien était créé.
    </p>
    <p>
      Pour accéder à ton projet, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Match & Feat !</p>
  </body>
</html>