<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Salut et merci de ta collaboration !
    </p>
    <p>
      Ta collaboration au projet : <%= @feat.user %> , à été notifié à son créateur !
    </p>
    <p>
      Pour accéder à ton compte et ainsi suivre le projet de collaboration, connecte-toi via : <%= @url %>.
    </p>
  </body>
</html>