<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Ta participation au projet à été notifié à son créateur !
    </p>
    <p>
      Pour accéder à ton projet, connecte-toi via : <%= @url %>.
    </p>
  </body>
</html>