<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Bonjour et merci de ta collaboration !
    </p>
    <p>
      Ton feat : " <%= @feat.title %> " à bien été inscrit dans le projet " <%= @feat.project.title %> " .
    </p>
    <p>
      Pour continuer à suivre ta contribution, c'est <%= link_to "par ici", @url %>
    </p>
    <p> À très vite sur Match & Feat !</p>
  </body>
</html>