<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Salut et merci de ta collaboration !
    </p>
    <p>
      Ton feat : " <%= Feat.last.title %> " à bien été inscrit dans le projet " <%= Feat.last.project.title %> " .
    </p>
    <p>
      Pour accéder à ton compte et ainsi suivre le projet de collaboration, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Match & Feat !</p>
  </body>
</html>