<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur Match & Feat en utilisant l'e-mail suivant : <%= @user.email %>
    </p>
    <p>
      Nous t'invitons à compléter ton compte en ajoutant une photo de profil et un pseudo.
    </p>
    <p>
      Pour accéder à ton compte, connecte-toi via : <%= link_to "ce lien", @url %>
    </p>
    <p> À très vite sur Match & Feat !</p>
  </body>
</html>