<div class="card align-self-center text-center border-warning mx-auto" style="width: 50rem;">
  <div class="card-body bg-dark text-warning">
    <h1>Ton paiement n'est malheureusement pas passé!</h1>
    <br>
    <p>Une prochaine fois peut être !<p>
    <p>La part la plus importante va à la maintenance du site, frais d'hébergement serveur et autres frais. La seconde part sert à la redistribution sociale, tel que l'achat de matériel, instrument de musique ou la mise en place de formations pour de nouveaux artistes à en devenir dans les milieux les plus défavorisés.</p>
    <br><i class="fas fa-music mx-1"></i>
    <p>Le statut du paiement est : <p class="text-danger"><%= @payment_intent.status %></p></p>
  </div>
</div>
