<% if @project.errors.any? %>
<%= render "shared/error_messages", object: @project %>
<% end %>

<div class="d-flex flex-column justify-content-center align-items-center text-center col-12" style="height:70vh;">  
  <h1>Créer ton projet</h1>
  <%= render 'form', project: @project %>
</div>