footer {
    padding: 1em;
    width: 100%;
    position: relative;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #ffffff;
    margin-right: 30px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: var(--bs-info);
}

.border {
    width: 100px;
    height: 4px;
}

.page-content {
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}