<p>Salut <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un lien pour changer ton mot de passe. Tu peux le faire via le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu ne l'avez pas demandé, ignore cet e-mail.</p>
<p>Ton mot de passe ne changera pas tant que tu n'aurez pas accédé au lien ci-dessus et créé un nouveau.</p>
