<p>Salut <%= @resource.email %>!</p>

<p>Ton compte a été verrouillé en raison d'un nombre excessif de tentatives de connexion infructueuses.</p>

<p>Clique sur le lien ci-dessous pour déverrouiller ton compte :</p>

<p><%= link_to 'Debloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
