<div class="jumpbotron">
    <div class="container mb-5">
        <h1 class="mb-1 jumbotitle mt-4 mb-4"> Match&Feat </h1>
        <h2 class="action-banner">Les plus grandes créations se font en équipe</h2>
        <% if !user_signed_in? %>
            <div class="d-flex justify-content-center align-items-center"><%= link_to "S'inscrire", new_user_registration_path, class: "nav-link " %> ou <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %> </div>
        <% end %>
    </div>
</div>