<div class="jumpbotron d-flex align-items-end mx-auto text-center mb-5">
    <div class="container mb-5">
        <h1 class="mb-1 jumbotitle mt-4 mb-4"> Match&Feat </h1>
        <h2 class="action-banner">Les plus grandes créations ce font en équipe</h2>
    </div>
</div>