<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
      <%= image_tag '2231.jpg',alt:"", class:"d-block w-100", style: 'object-fit: cover; overflow: hidden; height:550px;' %>
      </div>
      <div class="carousel-caption">
        <h1 style="color:#c8ac3d;">Match & Feat</h1><h3 style="color:#63e792">1ère PLATEF0RME D'ENTRAIDE CREATIVE</h3>

      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
      <%= image_tag '2.jpg',alt:"", class:"d-block w-100" , style:'object-fit: cover; overflow: hidden; height:550px;'%>
      </div>
      <div class="carousel-caption">
        <h1 style="color:#c8ac3d;">Match & Feat</h1><h3 style="color:#63e792">MET EN LUMIERE VOS PROJETS</h3>

      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
      <%= image_tag '3.jpg',alt:"", class:"d-block w-100", style:'object-fit: cover; overflow: hidden; height:550px;' %>
      </div>
      <div class="carousel-caption">
        <h1 style="color:#c8ac3d;">Match & Feat</h1><h3 style="color:#63e792">PARTAGE VOS TALENT</h3>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

