<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2" style="color:#fff;">
                    <li class="list-inline-item"><a href="#!">About</a></li><br />
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li><br />
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li><br />
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li><br />
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="https://github.com/HaryRabarijoely/e-picat.git">Le Projet</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">© Match&Feat 2021. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>