<footer class="footer bg-dark">
        <!--<a class="nav-link" href="#!">Qui sommes-nous ?</a>
        <a class="nav-link" href="#!">Contact</a>
        <a class="nav-link" href="#!">Terms of Use</a>
        <a class="nav-link" href="#!">Privacy Policy</a>-->
        <a class="nav-link" href="https://github.com/HaryRabarijoely/e-picat.git">Le Projet</a>
        <p class="text-muted small mb-4 mb-lg-0">© Match&Feat 2021. All Rights Reserved.</p>
</footer>