<footer class="footer bg-dark">
  <div class="footer-container">
    <div class="left-col">
      <div class="social-media">
        <a href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://fr.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <%= button_to "Un don de 5 € ?", checkout_create_path(total: 500), class: "btn btn-outline-secondary my-3", remote: true %>
      </div>
      <p class="rights-text">© 2021 THP Created By <b>La Team :</b>  
        <a href="https://github.com/fleopaulD" target="_blank">Florent</a>
        <a href="https://github.com/HaryRabarijoely" target="_blank">Hary</a>
        <a href="https://github.com/joffrey7486" target="_blank">Joffrey</a>
        <a href="https://github.com/kalu6334" target="_blank">Lucas</a>
        <a href="https://github.com/KevinPiriou" target="_blank">Kevin</a>       
      </p>
    </div>
    <div class="right-col">
      <h1>MatchAndFeat</h1>
      <div class="border"></div>
        <p>lien pour plus de détails</p>
        <a href="https://github.com/MatchAndFeat/MatchAndFeat" target="_blank">Github</a>
    </div>
  </div>
</footer>
