<footer class="footer bg-dark">
  <div class="footer-container">
    <div class="left-col">
      <div class="social-media">
        <h4><strong>Nous retrouver sur nos réseaux</strong></h4>
        <a href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="border border-warning"></div>
      <br>
      <a href="/legal" class="link-secondary"> Mentions légales </a>
      <br>
      <p>© 2021 THP Created By <b>La Team :</b>  
        <a href="https://github.com/fleopaulD" target="_blank">Florent</a>
        <a href="https://github.com/HaryRabarijoely" target="_blank">Hary</a>
        <a href="https://github.com/joffrey7486" target="_blank">Joffrey</a>
        <a href="https://github.com/kalu6334" target="_blank">Lucas</a>
        <a href="https://github.com/KevinPiriou" target="_blank">Kevin</a>       
      </p>
    </div>
    <div class="right-col">
      <h4><strong>MatchAndFeat</strong></h4>
        <p><em>lien pour plus de détails</em></p>
        <% if user_signed_in? %>
        <a class="btn btn-danger btn-sm m-2" href="/a_propos"><i class="fas fa-exclamation-triangle"></i> Signalement </a>
        <% end %>
        <br>
        <a class="btn btn-info btn-sm m-2" href="https://github.com/MatchAndFeat/MatchAndFeat" target="_blank"><i class="fab fa-github"></i> Github </a>
        <br>
    </div>
  </div>
</footer>
