<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="fas fa-music"></i> Match&Feat</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="">Projets</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Mon Compte</a>
                    <div class="dropdown-menu ">
                        <a class="dropdown-item btn-secondary" href="">S'inscrire</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Se connecter</a>
                    </div>
                </li><li class="nav-item">
                <a class="nav-link active" href="">Qui sommes-nous ?</a>
                </li>
            </ul>
        </div>
    </div>
</nav>